__init__.cpython-39.pyc
embeddings.cpython-39.pyc
my_transformer.cpython-39.pyc
attention.cpython-39.pyc
encoder.cpython-39.pyc
normalization.cpython-39.pyc
decoder.cpython-39.pyc
feedforward.cpython-39.pyc
residual.cpython-39.pyc